body {

	padding: 0;
	margin: 0;
	background-color: #f0f0f0;

}

article {

	width: 600px;
	height: 100%;
	display: block;
	margin: auto;

}

header {

	height: 50px;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-color: #95c8bc;
	z-index: 10;

}

header h1 {

	padding: 0;
	margin: 0;
	height: 100%;
	line-height: 50px;
	color: #fff;
	width: 33%;
	background-color: #85b4a9;
	font-size: 16px;
	font-weight: 400;
	text-indent: 20px;

}

section {

	padding-top: 80px;
	padding-bottom: 30px;

}

div.add-form {

	width: calc(100% - 22px);
	padding: 10px;
	border: 1px solid #c3c3c3;
	border-radius: 4px;
	background-color: #fff;
	transition: all 200ms;

	transform: translatex(0);
	opacity: 1;

}

div.add-form table {

	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;

}

div.add-form table td.plus {

	width: 40px;
	padding-right: 10px;

}

div.add-form table div.plus {

	width: 30px;
	height: 30px;
	border-radius: 100%;
	display: block;
	margin: auto;
	color: #fff;
	line-height: 30px;
	text-align: center;
	fon-weight: bold;
	background-color: #95c8bc;
	font-size: 20px;

}

div.add-form table td input {

	background-color: transparent;
	border: 1px solid #b3b3b3;
	padding: 4px 0;
	text-indent: 4px;
	border-radius: 4px; 
}

div.add-form.no-indent table td input {

	text-indent: 0;

}

div.add-form table td input[type="text"] {

	width: calc(100% - 15px);

}

div.add-form table td.top {

	padding-top: 8px;

}

div.add-form table td.right {

	text-align: right;
	padding-right: 10px;

}

div.add-form table td.top span {

	font-size: 14px;
	padding-right: 8px;
	color: #98cabe;
}

div.add-form button {

	font-size: 14px;
	color: #98cabe;
	border: none;
	background-color: transparent;

}

div.add-form button:hover {

	cursor: pointer;

}

ul {

	padding: 20px 0;
	margin: 0;

}

li {

	list-style: none;
	overflow-x: hidden;
	margin-bottom: 8px;

}

div.add-form.readonly input {

	border: 1px solid transparent;

}

div.add-form.new {

	transform: translatex(-100%);
	opacity: 0;

}

div.add-form.checked {

	background-color: #ececec;
	border-color: #d8d8d8;

}

div.add-form.checked input[type="text"] {

	text-decoration: line-through;

}

div.add-form.checked input {

	color: #7a7a7a;

}

div.add-form.favorite {

	background-color: #e3f5f0;
	border-color: #95c8bc;

}

div.add-form table td.star {

	color: #d8d8d8;
	font-size: 22px;
	text-indent: 4px;

}

div.add-form table td.star a:hover {

	cursor: pointer;
	color: #f5c062;

}

div.add-form.favorite table td.star {

	color: #f5a81e !important;

}
